.forgotPassword {
    padding: 0;
    position: absolute;
    width: 162px;
    bottom: -22px;
    left: 40px;
}

.back_toSecondLog {
    position: absolute;
    top: 4.5%;
    left: 5.8%;
    // top: 47px;
    // left: 60px;
}
