button .button__resetPassword, button .button__log {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 145%;
}

button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 44px;
  gap: 12px;
  margin: 0 auto;
  margin-top: 7%;
  background: #F5F5F5;
  color: #D6D6D6;
  border-radius: 5px;
  border: 0px solid;
}
button .button__log {
  width: 44px;
  height: 22px;
  padding: 0;
  border: 0px solid;
  flex: none;
  order: 0;
  flex-grow: 0;
}
button .button__resetPassword {
  width: 200px;
  height: 36px;
  border: 0px solid;
}

.button_valid {
  color: #FAFAFA;
  background-color: #FF8A65;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 14px;
  position: static;
  width: 314px;
  height: 36px;
  left: calc(50% - 157px);
  top: calc(50% - 18px - 138px);
}
.header .header__title {
  width: 265px;
  height: 36px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #424242;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.header .header__logo {
  width: 34px;
  height: 34px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

button .button__log, button .button__resetPassword {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 145%;
}

button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 44px;
  gap: 12px;
  margin: 0 auto;
  margin-top: 7%;
  background: #F5F5F5;
  color: #D6D6D6;
  border-radius: 5px;
  border: 0px solid;
}
button .button__log {
  width: 44px;
  height: 22px;
  padding: 0;
  border: 0px solid;
  flex: none;
  order: 0;
  flex-grow: 0;
}
button .button__resetPassword {
  width: 200px;
  height: 36px;
  border: 0px solid;
}

.button_valid {
  color: #FAFAFA;
  background-color: #FF8A65;
}

.forgotPassword {
  padding: 0;
  position: absolute;
  width: 162px;
  bottom: -22px;
  left: 40px;
}

.back_toSecondLog {
  position: absolute;
  top: 4.5%;
  left: 5.8%;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  gap: 20px;
  margin-top: 48px;
}
.inputs .login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 324px;
  height: 66px;
  flex: none;
  flex-grow: 0;
  order: 0;
}
.inputs .password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 324px;
  height: 66px;
  flex: none;
  flex-grow: 0;
  order: 1;
}
.inputs .title_login {
  height: 22px;
  width: 275px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 145%;
  margin-bottom: 2px;
  color: #9E9E9E;
}
.inputs .title_password {
  height: 22px;
  width: 275px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 145%;
  margin-bottom: 2px;
  color: #9E9E9E;
}
.inputs .inputs__box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 16px;
  width: 324px;
  height: 40px;
  border: 1px solid #9D9D9D;
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.inputs .error {
  height: 19px;
  margin: 5px 0px -24px 0px;
  padding: 0px 16px;
  font-weight: 400;
  font-size: 13px;
  color: #EF5350;
}
.inputs .error_secondLog {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 52px;
  left: 56px;
}
.inputs .invalid {
  border: 1px solid #EF5350;
}
.inputs .inputs__cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 10px 1px 0px;
  gap: 10px;
  border: 0px solid #9D9D9D;
  width: 294px;
  height: 26px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
.inputs .inputs__cell:active, .inputs .inputs__cell:hover, .inputs .inputs__cell:focus {
  outline: 0;
  outline-offset: 0;
}
.inputs .inputs__cell.password {
  color: #424242;
}

.invalid_a {
  color: #EF5350;
}

.valid_submit {
  background-color: #FF8A65;
}

.forgotPassword {
  padding: 0;
  position: absolute;
  width: 162px;
  bottom: -22px;
  left: 40px;
}

.back_toSecondLog {
  position: absolute;
  top: 4.5%;
  left: 5.8%;
}

.tooltip {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  width: 233px;
  height: 157px;
  align-items: center;
  background: #4D4D4D;
  border-radius: 6px;
  left: 348px;
  bottom: 110px;
}
.tooltip .tooltip_row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
}
.tooltip .icon_container {
  width: 15px;
  height: 15px;
  position: relative;
  margin-top: 4px;
}
.tooltip .icon_container .icon {
  position: absolute;
  top: 3px;
  left: 3px;
  opacity: 1;
}
.tooltip .tooltiptext {
  width: 201px;
  height: 128px;
  text-align: left;
  background: #4D4D4D;
  border-radius: 6px;
  margin: 12px 16px 17px 16px;
  padding: 0;
}
.tooltip P {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 145%;
  color: #FFFFFF;
}

.tooltipOn .tooltip {
  visibility: visible;
}

.icon_tick, .icon_cross {
  visibility: hidden;
}

a, body .container .paragraph {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 145%;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #FFFFFF;
}
body .App {
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(components/images/pattern.png) center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
body .container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .container .paragraph {
  color: #9E9E9E;
  width: 324px;
}

a {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #CECECE;
  text-decoration: none;
}

.inputs__number {
  -moz-appearance: textfield;
}
.inputs__number::-webkit-inner-spin-button {
  display: none;
}/*# sourceMappingURL=style.css.map */